{{ partial "head.html" . }}

<main>
  <section>
    <header>
      <h1>All Posts</h1>
    </header>

    <article>
      <ul>
        {{ range where .Pages.ByPublishDate.Reverse "Section" "posts" }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }} - <time datetime="{{.Date}}">{{ .Date.Format "2006/01/02 15:04:05" }}</time></a></li>
        {{ end }}
      </ul>
    </article>
  </section>

  <aside>
    <ul>
      <li><a href="{{ .Site.BaseURL }}">Home</a></li>
      <li><a href="{{ "posts/" | absURL }}">Posts</a></li>
      <li><a href="{{ "articles/" | absURL }}">Articles</a></li>
    </ul>
  </aside>
</main>

{{ partial "foot.html" .}}